.main-content {
	padding-top: 2rem;
	padding-bottom: 3rem;
	background-color: #fefefe;
}

img {
	max-width: 100%;
	height: auto;
}

.button,
button,
input[type="submit"] {
	&.no-button {
		padding: 0;
		background-color: transparent;
		color: #a93413;
		line-height: inherit;
	}
}

th,
td {
	&.icon-column {
		width: 26px;
		text-align: right;
	}
}

.icon-button {
	width: 18px;
	height: 18px;
	display: inline-block;
	vertical-align: text-bottom;
	background: transparent none no-repeat center center;
	background-size: 18px;
	color: transparent;
	border: none;
	font: 0/0 a;
}

.icon-calendar {
	background-image: url('../img/calendar.png');
}

.icon-delete {
	background-image: url('../img/delete.png');
}

.icon-edit {
	background-image: url('../img/edit.png');
}

.calendar-type-input {
	vertical-align: top;
}

.file-custom {
	&,
	&::before {
		height: 2.4rem;
		padding-top: .4rem;
	}
}