// Colors
$body-bg: #ebf2f3;
$brand-primary: #a93413;
$link-color: #a93413;

$brand-color-1: #a93413;
$brand-color-2: #666;

$module-color-1: #06b3db;
$module-color-2: #4ed486;
$module-color-3: #6139f6;
$module-color-4: #e3b63d;
$module-color-5: #dc3d66;
$module-color-6: #bd54cd;