a {
	color: $brand-color-1;
	text-decoration: none;
}

h1, .alpha {
	font-size: 2.5em;
	line-height: 1.25em;
	line-height: 1;
}

h2, .beta {
	font-size: 1.625em;
	line-height: 1.92308em;
}

h3, .gamma {
	font-size: 1.25em;
	line-height: 1.25em;
}

h4, .delta {
	font-size: 1.125em;
	line-height: 1.38889em;
}

h5, .epsilon {
	font-size: 1em;
	line-height: 1.5625em;
}

h6, .zeta {
	font-size: 0.8125em;
	line-height: 1.92308em;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.2em;
	color: $brand-color-2;
	font-weight: 100;

	a {
		color: inherit;

		&:hover {
			text-decoration: none;
		}
	}
}

.eta {
	font-size: em(14, 16);
	line-height: em(21, 14)
}

.theta {
	font-size: em(12, 16);
	line-height: em(16, 12)
}