// Larger smartphones
@media only screen and ( min-width: 480px ) {
	@include grid-setup( $namespace: column );
	
	.mobile-only {
		display: none;
	}
	
	body {
		padding: 2em;	
	}
	
	.main-header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		margin: 0;
		text-align: left;
		
		.logo {
			float: left;
		}
		
		.nav {
			display: block;
			float: right;
			
			li {
				margin-left: 1em;
			}
		}
	}
}

@media only screen and ( min-width: 600px ) {
	//
}

// Tablets
@media only screen and ( min-width: 768px ) {
	@include grid-setup( $namespace: mq1-column );
}

// Small desktops
@media only screen and ( min-width: 1025px ) {
	@include grid-setup( $namespace: mq2-column );
}