// Colors
$html-background-color: #ebf2f3;
$body-background-color: #fff;
$text-color: #2f2f2f;

$brand-color-1: #a93413;
$brand-color-2: #666;

$module-color-1: #06b3db;
$module-color-2: #4ed486;
$module-color-3: #6139f6;
$module-color-4: #e3b63d;
$module-color-5: #dc3d66;
$module-color-6: #bd54cd;


// Typography
$font-size: 16;
$line-height: 25;
$base-font-size: 16px;
$base-line-height: 25px;
$base-rhythm-unit: $base-line-height / $base-font-size * 1em;


$font-bigger: 40;
$font-bigger-uppercase: $font-bigger - 1;

$font-big: 32;
$font-big-uppercase: $font-big - 1;

$font-larger: 26;
$font-larger-uppercase: $font-larger - 1;

$font-large: 20;
$font-large-uppercase: $font-large - 1;

$font-medium: 18;
$font-medium-uppercase: $font-medium - 1;

$font-small: 14;
$font-small-uppercase: $font-small - 1;

$font-smaller: 12;
$font-smaller-uppercase: $font-smaller - 1;

$font-tiny: 10;
$font-tiny-uppercase: $font-tiny - 1;


// Grid configs
$grid-width: 1160px;
$grid-gutter: 3em;


// Sprites
$logo-spacing: 2px;
//@import "elements/*.png";