.main-header {
	@include margin-trailer( 1 );
	@include background-image( linear-gradient( color-stops( #2f2f2f, darken( #2f2f2f, 40%) ) ) );
	
	margin: -2em -1.5em 1em;
	padding: 0 0.6em;
	background-color: #2f2f2f;
	text-align: center;
	
	h1 {
		margin: 0;
		color: #fff;
		line-height: 1.6;
	}
	
	.nav {
		display: none;
		margin: 0;
		font-size: 0.9em;
		line-height: 2.1;
		
		a {
			color: rgba( #fff, 0.6 );
		}
	}
}